<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734087056867-f26pame5cce68sa8ubu18036bogk8t0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734087056867-f26pame5cce68sa8ubu18036bogk8t0t</string>
	<key>API_KEY</key>
	<string>AIzaSyDA6Ks-zUDs9NJAdtOW2WmENZ74kXoufHY</string>
	<key>GCM_SENDER_ID</key>
	<string>734087056867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectBs.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>splitit-b166b</string>
	<key>STORAGE_BUCKET</key>
	<string>splitit-b166b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734087056867:ios:818cf30e3ef8dfa53a64d6</string>
</dict>
</plist>